<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" autoReload="true">
	<targets>
		<target name="log" xsi:type="File" layout="${time}|${uppercase:${level}}|${logger}| ${message}" fileName="logs/${shortdate}.txt" archiveFileName="logs/${shortdate}.{#}.txt" archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="30" enableArchiveFileCompression="true" concurrentWrites="true" keepFileOpen="false" encoding="utf-8" />
		<target name="error" xsi:type="File" layout="${time}|${uppercase:${level}}|${logger}| ${message} ${exception:format=ToString:maxInnerExceptionLevel=5:innerFormat:ToString} " fileName="logs/${shortdate}.error.txt" archiveFileName="logs/${shortdate}.error.{#}.txt" archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="30" enableArchiveFileCompression="true" concurrentWrites="true" keepFileOpen="false" encoding="utf-8" />
		<target name="console" xsi:type="ColoredConsole" layout="${time}|${uppercase:${level}}|${logger}| ${message}" />
		<target xsi:type="Null" name="blackhole" />
	</targets>
	<rules>
		<logger name="*" minlevel="Error" writeTo="error" />
		<logger name="*" minlevel="Debug" writeTo="console,log" />
	</rules>
</nlog>